@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-fluid-services {
  background-color: $java-50;

  .container-services {
    .row-grid-services {
      @include querie-compu {
        padding: 0 3.5rem;
      }

      .col-card-service {}
    }

  }
}