@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-fluid-navbar {
  // background-color: #fff;
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: #ffffffde;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  // border: 1px solid rgba(255, 255, 255, 0.13);

  .container-fluid-social-media-info {

    background-color: $java-400;

    .container-social-media-info {
      .row-info-social-media {
        .col-info-schedule {
          text-align: center;
          @include box-flex;

          @include querie-compu {
            justify-content: flex-start;
          }

          .figure-clock {
            width: 1.5rem;

            @include querie-compu {
              margin: 0 .5rem 0 0;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .info-text {
            font-size: .8rem;
            color: $color-white;

            @include querie-compu {
              font-size: .95rem;
            }
          }
        }
      }
    }
  }

  .container-brand-items-links {
    .brand-navbar {
      strong {
        span {
          color: $java-400
        }
      }
    }

    .navbar-collapse-items {

      .list-navbar-items {
        margin: .5rem 0;


        .navbar-item {
          text-align: center;

          .nabvar-link {
            color: #585858;
            display: block;
            border-radius: .5rem .5rem 0 0;

            &:hover {
              color: #000;
              background-color: $secondary-bg-color-10;
            }

            position: relative;

            &::before,
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              width: 0;
              height: .2rem;
              background-color: $main-bg-color;
              transition: width 0.5s ease;
            }

            &::before {
              left: 0;
            }

            &::after {
              right: 0;
            }

            &:hover::before,
            &:hover::after {
              width: 100%;
              transition: width 0.5s ease;
            }

          }
        }
      }
    }
  }
}