.row-gallery-imgs {

  padding: 2rem .5rem;
  display: flex;
  gap: 2;

  .container-img-gallery {
    max-width: 100%;
    height: 18rem;
    border-radius: 15px;

    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.12);

    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
  }
}