@import "@partials/box-flex";
@import "@partials/variables";

.container-fluid-about-me {

  .container-about-me {
    text-align: center;

    .row-header {
      overflow: hidden;

      .subtitle {
        color: $main-bg-color
      }
    }

    .row-icons {}

    .row-information {
      .col-img {
        @include box-flex;

        figure {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: .5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .col-info {}
    }
  }
}