@import "@partials/box-flex";
@import "@partials/variables";
@import "@partials/media-queries";

.container-fluid-about-me {

  .container-about-me {
    text-align: center;

    .row-information {

      /* From https://css.glass */
      @include querie-compu {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: .5rem 0;
      }

      .col-img {
        @include box-flex;

        .figure-image {
          height: 90%;
          overflow: hidden;

          .image-about-me {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/10;
            object-fit: cover;
          }
        }
      }
    }
  }
}