@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-fluid-navbar {
  // background-color: #fff;
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  // border: 1px solid rgba(255, 255, 255, 0.13);


  .container-fluid-info {

    background-color: $java-400;

    .container-info {
      .row-info {
        .col-info-schedule {
          @include box-flex;

          @include querie-compu {
            @include box-flex ($alingHorizontal: space-between);
          }

          .container-img-text {
            @include box-flex($gap: .5rem);

            @include querie-compu {
              @include box-flex($direction: row, $gap: .5rem);
            }

            .figure-img {
              width: 1.5rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .info-text {
              font-size: .8rem;
              color: $color-white;

              @include querie-compu {
                font-size: .8rem;
              }
            }
          }


        }
      }
    }
  }

  .container-brand-items-links {
    .brand-navbar {
      strong {
        span {
          color: $java-400
        }
      }
    }

    .btn-menu-burguer,
    .btn-close-navbar-menu {
      width: 2rem;
      border: none;
      background-color: transparent;

      img {
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .layer-nabvar-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.619);
      transform: translateX(100%);
      transition: transform .3s ease;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 200;

      @include querie-compu {
        position: relative;
        transform: translateX(0%);
        height: auto;
      }


      .container-nabvar-menu {
        width: 75%;
        height: 100%;
        background-color: $java-700;
        z-index: 200;

        display: flex;
        flex-direction: column;

        @include querie-compu {
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: #fff;

        }

        .header-nabvar-menu {
          background-color: $java-900;
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text-logo {
            color: #fff;

            strong {
              span {
                color: $java-300;
              }
            }
          }

        }


        .list-navbar-items {
          margin: 0;
          flex-grow: 1;

          .navbar-item {
            text-align: center;

            .nabvar-link {
              color: #ffffff;
              display: block;
              border-radius: .5rem .5rem 0 0;
              margin: .5rem 0;

              &:hover {
                color: #000;
                background-color: $secondary-bg-color-10;
              }

              position: relative;

              @include querie-compu {
                color: #000;

              }

              &::before,
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 0;
                height: .2rem;
                background-color: $main-bg-color;
                transition: width 0.5s ease;
              }

              &::before {
                left: 0;
              }

              &::after {
                right: 0;
              }

              &:hover::before,
              &:hover::after {
                width: 100%;
                transition: width 0.5s ease;
              }

            }
          }
        }

        .message-copyright {
          text-align: center;
          color: $java-300;
          align-self: center;
          font-size: .7em;
          padding: 0 2em;
          margin: 0 0 5rem 0;
        }
      }
    }

    .show-layer-nabvar-menu {

      transform: translateX(0%);
      transition: transform .3s ease;
    }
  }
}

@keyframes adjust-header {
  to {
    background-color: red;

  }
}