@import "@partials/box-flex";
@import "@partials/variables";
@import "@partials/media-queries";

.container-fluid-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/imgs/hero/image-hero.webp");
  aspect-ratio: 16/9;
  object-fit: cover;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container-hero {
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000009d;
      overflow: hidden;

      .container-content {
        @include box-flex($direction: column);
        color: $color-white;
        text-align: center;

        .picture-logo {
          @include box-flex;

          .logo-family-medical {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;

            @include querie-compu {
              aspect-ratio: 16/12;
              object-fit: cover;

            }
          }
        }

        .title-brand {
          text-shadow: 1px 1px 1px #000000;

          @include querie-compu {
            font-size: 2.2rem;
          }

          strong {
            span {
              color: $java-bright;
            }
          }
        }

        .title {
          font-size: 1.9rem;
          color: $java-bright;
          font-weight: 700;
          text-shadow: 1px 1px 1px #000000;

          @include querie-compu {
            font-size: 4.3rem;
          }
        }

        .subtitle {
          font-size: 1.5rem;
          text-shadow: 1px 1px 1px #000000;

          @include querie-compu {
            font-size: 3rem;
          }
        }
      }
    }
  }

}