@import "@partials/box-flex";
@import "@partials/variables";

.container-fluid-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/imgs/hero/hero-device-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .container-hero {
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000a3;

      .container-content {
        @include box-flex($direction: column);
        color: $color-white;
        text-align: center;

        .figure-logo {
          width: 15rem;
          overflow: hidden;
          @include box-flex;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title-brand {
          strong {
            span {

              color: $secondary-bg-color;
            }
          }
        }

        .title {
          font-size: 2rem;
          color: $secondary-bg-color;
          font-weight: 700;
        }

        .subtitle {
          font-size: 1.8rem;

        }

        .description {
          font-size: 1.3rem;

        }
      }
    }
  }

}