@import "@partials/box-flex";
@import "@partials/variables";
@import "@partials/media-queries";

.container-fluid-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/imgs/hero/image-hero.webp");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .container-hero {
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000b8;

      .container-content {
        @include box-flex($direction: column);
        color: $color-white;
        text-align: center;

        .figure-logo {
          width: 15rem;
          overflow: hidden;
          @include box-flex;

          @include querie-compu {
            width: 18rem;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title-brand {
          @include querie-compu {
            font-size: 2.2rem;
          }

          strong {
            span {
              color: $secondary-bg-color;
            }
          }
        }

        .title {
          font-size: 1.7rem;
          color: $secondary-bg-color;
          font-weight: 700;

          @include querie-compu {
            font-size: 2.8rem;
          }
        }

        .subtitle {
          font-size: 1.5rem;

          @include querie-compu {
            font-size: 2rem;
          }
        }

        .description {
          font-size: 1.1rem;

          @include querie-compu {
            font-size: 1.8rem;
          }

        }
      }
    }
  }

}