@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-fluid-recognition {
  .container-recognition {
    .row-recognition {
      .col-info {
        position: relative;

        .content-info {
          text-align: center;

          @include querie-compu {
            text-align: start;
            position: sticky;
            top: 10rem;
            left: 0;

          }
        }

      }
    }
  }
}