@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.contaner-fluid-gallery {
  .container-recognition-gallery {
    .row-header {
      .col-title {
        .subtitle {
          color: $main-bg-color;
        }

        .title {
          font-size: 1.8rem;
          margin: 0 0 1rem 0;
        }

        .note {
          font-size: .75rem;
          color: $color-gray;
        }
      }
    }
  }
}