@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-fluid-recognition {
  .container-recognition {
    .row-recognition {
      .col-info {
        position: relative;

        .content-info {
          text-align: center;

          @include querie-compu {
            text-align: start;
            position: sticky;
            top: 10rem;
            left: 0;

          }

          .text-recognition {}



          .btn-show-more-info-recognition {
            background-color: $java-600;
            color: #fff;
            font-weight: 600;
            margin: 0 0 1rem 0;
          }
        }

      }
    }
  }
}

.show-all-text-recognition {
  max-height: 20rem !important;
  transition: max-height 0.6s ease !important;
  background: linear-gradient(0deg, #ffffff 0%, #fcfcfc1b 0%) !important;

}