@mixin box-flex(
  $direction: row,
  $alingHorizontal: center,
  $alingVertical: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $alingHorizontal;
  align-items: $alingVertical;
  gap: $gap;
}
