@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

@font-face {
  font-family: 'myFontInter';
  font-style: normal;
  font-weight: 100 900;
  src: local('myFontInter'),
    url("/fonts/Inter-VariableFont_slnt,wght.woff2") format('woff2'),
    url("/fonts/Inter-VariableFont_slnt,wght.woff") format('woff'),
    url("/fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype');
  font-display: swap;
}

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --height-header-and-margin-sections: 5rem;
}

header,
main {
  font-family: "myFontInter", 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif,
    Courier;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

section[id],
footer[id] {
  scroll-margin-top: calc(var(--height-header-and-margin-sections) + 1rem);

  @include querie-compu {

    scroll-margin-top: calc(var(--height-header-and-margin-sections) + 2.5rem);
  }
}

.container {
  padding: 4rem 0;
}

.row-header {
  margin: 0 0 1rem 0;
}

.title-section {

  color: $java-500;
}

.subtitle-section {

  @include querie-compu {

    font-size: 1.5rem;
  }
}