:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --height-header-and-margin-sections: 3rem;
}

section[id] {
  scroll-margin-top: calc(var(--height-header-and-margin-sections) + 1rem);
}