@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --height-header-and-margin-sections: 5rem;
}

header,
main {
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

section[id] {
  scroll-margin-top: calc(var(--height-header-and-margin-sections) + 2rem);

  @include querie-compu {

    scroll-margin-top: calc(var(--height-header-and-margin-sections) + 3rem);
  }
}

.container {
  padding: 4rem 0;
}

.row-header {
  margin: 0 0 1rem 0;
}

.title-section {

  color: $main-bg-color;
}

.subtitle-section {

  @include querie-compu {

    font-size: 1.5rem;
  }
}