@import "@partials/box-flex";
@import "@partials/media-queries";
@import "@partials/variables";

.container-card {
  font-size: 1.6rem;
  border-radius: .5em;

  border: 2px solid #e4edf4;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include querie-compu {
    width: 90%;
  }

  .body-card {
    flex-grow: 2;
    padding: 1em;

    @include querie-compu {
      padding: 1.5em;
    }

    .title-card {
      font-size: .75em;
      font-weight: 700;
      margin: .5em 0;

    }

    .description-card {
      font-size: .55em;
    }

    .card-price {
      font-size: 1.4em;

      @include querie-compu {
        font-size: 1.6em;
      }

    }


    .btn-contact:hover {
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: $java-200 !important;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
      }

    }

    .included {
      font-size: .65em;
      font-weight: 600;
    }

    .list-services {
      list-style: none;
      padding: 0;

      .list-item {
        margin: 0.2em 0;
        padding: 0;
        overflow: hidden;
        font-size: .55em;

        .icon-check {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

.bg-card-light {
  background-color: #fff;
  background: linear-gradient(0deg, $java-50 0%, #fcfcfc 80%);

  color: #000;
}

.bg-card-dark {
  background-color: $java-950;
  background: linear-gradient(0deg, $java-950 0%, $java-950 70%);
  color: #fff;
}