@import "@partials/box-flex";
@import "@partials/variables";

.container-fluid-banner {
  background-color: $java-400;

  .container {
    .row {
      .item-banner {

        .card-item-banner {
          height: 8rem;
          @include box-flex($direction: column);
          text-align: center;

          .content {
            @include box-flex;

            .figure-icon {
              width: 4rem;
              height: 4rem;
              margin: 0;
              margin: 0 .5rem 0 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .title {
              font-weight: bold;
              font-size: 2.8rem;
              margin: 0;
            }
          }
        }
      }
    }
  }
}