@import "../../partials/box-flex";
@import "../../partials/variables";

.container-fluid-banner {
  background-color: $main-bg-color;

  .container {
    .row {
      .item-banner {

        .card-item-banner {
          height: 8rem;
          @include box-flex($direction: column);
          text-align: center;

          .content {
            @include box-flex($direction: column);

            .figure-icon {
              width: 4rem;
              height: 4rem;
              margin: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .title {

              font-weight: bold;
            }
          }
        }
      }
    }
  }
}