.row-grid-gallery {

  .container-img-gallery {
    // max-width: 100%;
    height: 18rem;
    border-radius: 15px;

    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.07);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.2px);
        -webkit-backdrop-filter: blur(7.2px);
        border: 1px solid rgba(255, 255, 255, 0.06);

        transition: scale .2s ease-in-out;

        &:hover {
          scale: 1.1;
          transition: scale .3s ease-in-out;
        }
      }
    }
  }
}